.postsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.post {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.post:hover {
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  flex-direction: column;
  background-color: #265d65;
  border-radius: 5px;
}

.postHeader h2 {
  font-size: 1.2rem;
  color: #ddd;
  margin: 0.5rem 0 1rem;
  height: 4rem;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.postHeader h2:hover {
  min-height: 4rem;
  height: max-content;
  overflow: visible;
}

.author {
  text-align: left;
  font-size: 1rem;
  color: #ddd;
  margin: 0;
  word-wrap: break-word;
}

.date {
  text-align: left;
  font-size: 1rem;
  color: #06292c;
  margin: 0;
  word-wrap: break-word;
}

.content {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem;
  display: flex;
  min-height: 6rem;
  padding: 0.5rem;
  text-align: left;
  overflow-wrap: anywhere;
  flex: auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button,
.actions a {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.actions a.edit {
  background-color: #265d65;
  color: white;
}
.actions button.delete {
  background-color: #dc3545;
  color: white;
}

.emptyPosts {
  font-size: 2rem;
  color: #555;
  text-align: center;
}

@media (max-width: 426px) {
  .postsContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
